
.transitionScene {
    background-color: black;
    background-image: url('../../assets/main/main_background.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    animation: fadeIn 1.7s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}